<!-- Agrega las referencias de Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-4">
  <form action="" class="curso-form" #cursoForm="ngForm">
    <h3 class="text-center mb-4">Registrar Curso</h3>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="curso.nombre" name="nombre" required>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <input type="text" class="form-control" id="descripcion" [(ngModel)]="curso.descripcion" name="descripcion" required>
    </div>

    <div class="form-group">
        <label for="estado">Estado</label>
        <select class="form-control custom-select-lg" id="estado" [(ngModel)]="curso.estado" name="estado" required>
          <option value="Por Iniciar">Por Iniciar</option>
          <option value="En Curso">En Curso</option>
        </select>
      </div>

    <div class="form-group">
      <label for="duracion">Duración (en horas)</label>
      <input type="number" class="form-control" id="duracion" [(ngModel)]="curso.duracion" name="duracion" required>
    </div>

    <div class="form-group">
      <label for="profesor">Profesor</label>
      <select class="form-control" id="profesor" [(ngModel)]="profesorSeleccionado" name="profesor" required>
        <option *ngFor="let profesor of listadoProfesores" [value]="profesor">
          ({{ profesor.cedula }}) {{ profesor.nombre }} {{ profesor.apellido }}
        </option>
      </select>
    </div>

    <button type="button" class="btn btn-primary custom-btn">Registrar Curso</button>
  </form>
</div>

<!-- Agrega las referencias de Bootstrap JavaScript (jQuery y Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

